{% extends "index.html" %}

{% block body %}

	<a href="/">back to list</a>

	<hr>

	<div style="float:left; margin-right:40px">
		<h2>Pages that timed out</h2>
		<table>
			<tr>
				<th>crawl URL</th>
				<th>count</th>
			</tr>
			{% for page in problem_pages %}
				{% if page.error == 'TIMEOUT' %}
					<tr>
						<td>{{ page.crawl_url }}</td>
						<td class="center">{{ page.count }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>

	<div style="float:left">
		<h2>Pages that errored out</h2>
		<table>
			<tr>
				<th>crawl URL</th>
				<th>count</th>
			</tr>
			{% for page in problem_pages %}
				{% if page.error == 'BROWSER ERROR' %}
					<tr>
						<td>{{ page.crawl_url }}</td>
						<td class="center">{{ page.count }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>

	<div style="clear:both"></div>

{% endblock %}
