a, a:visited {
	color: #c00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	color: #444;
	font: normal 15px 'Helvetica Neue', 'Helvetica', sans-serif;
	margin: 30px auto;
	width: 900px;
}

h1 {
	margin: 0 0 15px;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 20px 0;
}

table {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

tbody tr:nth-child(odd) {
	background-color: #eee;
}

th {
	font-size: 13px;
	padding: 5px 10px;
	text-align: left;
}

td {
	white-space: nowrap;
	padding: 5px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}
