<!doctype html>
<!--
 * chameleon-crawler
 *
 * Copyright 2015 ghostwords.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<html>
	<head>
		{% block head %}
			<title>Chameleon Crawler Viewer</title>
			<link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" type="text/css">
		{% endblock %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>
